.background-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  overflow: hidden;
  z-index: -1;
}

.blob {
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.1;
  filter: blur(40px);
  animation: move 25s infinite alternate;
}

.blob1 {
  width: 400px;
  height: 400px;
  top: -100px;
  left: -100px;
  animation-duration: 25s;
}

.blob2 {
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  animation-duration: 20s;
  animation-delay: -5s;
}

.blob3 {
  width: 250px;
  height: 250px;
  top: 80%;
  left: 20%;
  animation-duration: 30s;
  animation-delay: -10s;
}

.blob4 {
  width: 200px;
  height: 200px;
  top: 10%;
  left: 80%;
  animation-duration: 15s;
  animation-delay: -15s;
}

.blob5 {
  width: 350px;
  height: 350px;
  top: 40%;
  left: -200px;
  animation-duration: 35s;
  animation-delay: -20s;
}

@keyframes move {
  from {
    transform: translate(0, 0) rotate(0deg);
  }
  to {
    transform: translate(500px, 500px) rotate(360deg);
  }
}
