/* Stili per l'effetto glow del testo */
.neon-text-glow {
    text-shadow: 0 0 5px rgba(244, 200, 3, 0.8), 0 0 10px rgba(244, 200, 3, 0.6), 0 0 15px rgba(244, 200, 3, 0.4);
    color: #f4c803;
}

/* Stili per l'animazione Canvas */
#hero-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    /* Sotto al contenuto Hero */
}

.hero-content {
    z-index: 20;
    position: relative;
}